@import "variables";

.instagram-shots{
  background-color: rgba(0,0,0,0.03);
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.shots__upper-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .caption:first-child{
    margin-bottom: 13px;
  }
  & .caption:last-child{
    display: none;
  }
}
.shots{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__picture{
    display: none;
    width: 300px;
    &:first-child{
      display: inline;
    }
  }
}

@media (min-width: 768px){
  .shots{
    &__picture{
      display: inline;
      width: 250px;
      &:last-child{
        display: none;
      }
    }
  }
  .shots__upper-line{
    & .caption{
      margin-bottom: 35px;
    }
    & .caption:last-child{
      display: inline;
    }
  }
}

@media (min-width: 1200px){
  .shots{
    &__picture{
      display: inline;
      width: 285px;
      &:last-child{
        display: inline;
      }
    }
  }
  .shots__upper-line {
    & .caption {
      margin-bottom: 24px;
    }
  }
}